@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

.bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url('https://www.wallpapertip.com/wmimgs/99-998560_question-mark-background-vector-question-mark-quiz-background.jpg');
  background-size: cover;
  filter: blur(5px) brightness(50%); 
}
.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page {
  font-family: 'Raleway',sans-serif;  
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



#main {
   padding: 140px   ;
  width: 100%;
  height: 600px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

#main div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

#main h2{
  letter-spacing: 1px;
  line-height:1.5cm;
  flex:30%;
  font-weight: bold;
  font-size: 50px;
  text-align: justify;
  padding: 50px;
}

#main p{

  letter-spacing: 1px;
  line-height:1.5cm;
  flex:40%;
  font-size: 40px;
  text-align: center;
  padding-left: 40px;
}

@media (max-width: 800px) {
  #main {
    flex-direction: column;
  }
}


.getstart:hover span:after {
  opacity: 1;
  right: 0;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}
#nav-container:focus-within #nav-content {
  transform: none;
}

.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 40rem) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards {
    width: 25.3%;
  }
}
.cards .card-item {
  border:4px   solid#ffbc04 !important;
  display: flex;
  flex-direction: column;
  background-color:rgba(223, 219, 219, 0.863);
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}
.cards .card-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.cards .card-item:hover .card-image {
  opacity: 1;
}
.cards .card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 14px;
  line-height: 1.1em;
  text-align: center;
  font-family: 'Raleway',sans-serif; 
   color: #32325d;
  margin-bottom: 0.2em;
}


.footer-distributed {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: normal 16px sans-serif;
font-family: 'Raleway',sans-serif;  

padding: 45px 50px;
}

.footer-distributed .footer-left p {
color: #ffff;
font-size: 14px;
margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
font-size: 18px;
font-weight: bold;
color: #ffffff;
margin: 0 0 10px;
padding: 0;
transition: ease .25s;
}

.footer-distributed p.footer-links a {
display: inline-block;
line-height: 1.8;
text-decoration: none;
color: inherit;
transition: ease .25s;
}

.footer-distributed .footer-links a:before {
content: "·";
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

.footer-distributed .footer-right {
float: right;
margin-top: 6px;
max-width: 180px;
}

.footer-distributed .footer-right a {
display: inline-block;
width: 35px;
height: 35px;
background: -webkit-linear-gradient(right, #a6f77b);
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-left: 3px;
transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
  text-align: center;
}
.footer-distributed .footer-right {
  float: none;
  margin: 0 auto 20px;
}
.footer-distributed .footer-left p.footer-links {
  line-height: 1.8;
}
}

